services:
  app:
    image: node
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - POSTGRES_URL=postgres://postgres:example@db:5432/postgres?sslmode=disable
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis
    profiles:
      - local

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example

  redis:
    image: 'redislabs/rejson:latest'
    command: redis-server --save 900 1 --save 300 10 --save 60 10000 --loadmodule /usr/lib/redis/modules/rejson.so
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    labels:
      kompose.service.type: nodeport